
<!DOCTYPE html>

<html>
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/reset.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/backtomain.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/hamburgernav.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/paycomplete.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<!--===============================================================================================-->

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- Facebook Meta Tags / 페이스북 오픈 그래프 -->
    <meta property="og:url" content="http://kindtiger.dothome.co.kr/insta">
    <meta property="og:type" content="website">
    <meta property="og:title" content="instagram">
    <meta property="og:description" content="instagram clone">
    <meta property="og:image" content="http://kindtiger.dothome.co.kr/insta/imgs/instagram.jpeg">
    .
    <!-- Twitter Meta Tags / 트위터 -->
    <meta name="twitter:card" content="instagram clone">
    <meta name="twitter:title" content="instagram">
    <meta name="twitter:description" content="instagram clone">
    <meta name="twitter:image" content="http://kindtiger.dothome.co.kr/insta/imgs/instagram.jpeg">

    <!-- Google / Search Engine Tags / 구글 검색 엔진 -->
    <meta itemprop="name" content="instagram">
    <meta itemprop="description" content="instagram clone">
    <meta itemprop="image" content="http://kindtiger.dothome.co.kr/insta/imgs/instagram.jpeg">


    <title>instagram</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/common.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/detail.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>

        .b_inner .contents_box{
            float: none;
            display: flex;
            justify-content: center;
        }
    </style>


</head>
<body>
	
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="navbar">
                    <a href="{{url_for('static',filename='home')}}"><img class="logo"
                            src="{{url_for('static',filename='images/icons/logo4.png')}}" width="89" height="103"
                            class="d-inline-block align-top" alt="">
                    </a>
                    <div class="brandname">
                        <img src="{{url_for('static',filename='images/icons/refitimage.png')}}" height="45">
                    </div>
				

						

					

						<ul class="nav__logos">
							
							<li><a href="{{url_for('static',filename='cart')}}"><img src="{{url_for('static',filename='images/icons/shopping-cart.png')}}" width="30" height="30" class="d-inline-block align-top" alt="" ></a></li>
						</ul>


					
				</div>

			<div class="content">
                <div id="main_container">

                    <div class="hanger">
                        <img src="{{url_for('static',filename='images/hanger.png')}}">
                    </div>

                    <div style="align-items: center;">구매가 완료되었습니다!</div> 
                


                    <div class="page123">
                      <button class="fun-btn" style="align-items: center;">Back to save Earth</button>
                    </div>
                  
                  </div> 

                  <script>
                        $('.fun-btn').on('click', function(event) {
                        $(this).toggleClass('start-fun');
                        var $page = $('.page');
                        $page.toggleClass('color-bg-start')
                            .toggleClass('bg-animate-color');

                        //change text when when button is clicked

                        $(this).hasClass('start-fun') ?
                            $(this).text('stop the fun') :
                            $(this).text('start the fun');

                        });

                  </script>


		    </div>
    </div>
    </div>
    </div>

	
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/daterangepicker/moment.min.js')}}"></script>
	<script src="{{url_for('static',filename='vendor/daterangepicker/daterangepicker.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor/countdowntime/countdowntime.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static',filename='js/main.js')}}"></script>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{{url_for('static',filename='js/shoppingcart.js')}}"></script>
<script src="{{url_for('static',filename='js/main.js')}}"></script>
<script src="{{url_for('static',filename='js/vue.js')}}"></script>


</body>
</html>


