<html lang="ko">

<html lang="ko">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<link rel="stylesheet" type="text/css" href="../static/css/nav.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	
	<meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- Facebook Meta Tags / 페이스북 오픈 그래프 -->
    <meta property="og:url" content="http://kindtiger.dothome.co.kr/insta">
    <meta property="og:type" content="website">
    <meta property="og:title" content="instagram">
    <meta property="og:description" content="instagram clone">
    <meta property="og:image" content="http://kindtiger.dothome.co.kr/insta/imgs/instagram.jpeg">
    .
    <!-- Twitter Meta Tags / 트위터 -->
    <meta name="twitter:card" content="instagram clone">
    <meta name="twitter:title" content="instagram">
    <meta name="twitter:description" content="instagram clone">
    <meta name="twitter:image" content="http://kindtiger.dothome.co.kr/insta/imgs/instagram.jpeg">

    <!-- Google / Search Engine Tags / 구글 검색 엔진 -->
    <meta itemprop="name" content="instagram">
    <meta itemprop="description" content="instagram clone">
    <meta itemprop="image" content="http://kindtiger.dothome.co.kr/insta/imgs/instagram.jpeg">


    <title>instagram</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="shortcut icon" href="../static/imgs/instagram.png">
	<link rel="stylesheet" href="../staticcss/style.css">
    <link rel="stylesheet" href="../staticcss/detail-page.css">
	
	    <style>

        .b_inner .contents_box{
            float: none;
            display: flex;
            justify-content: center;
        }
    </style>
	

<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100"> 
				<div class="navbar">
					<img class="logo" src="../static/images/icons/leaf.png" width="30" height="30" class="d-inline-block align-top" alt="">
					<div class="brandname">
						RE-FIT 리핏
					</div>
					<nav>
						<ul class="nav__logos">
							<li><a href="#"><img src="../static/images/icons/search.png" width="20" height="20" class="d-inline-block align-top" alt=""></a></li>
							<li><a href="shoppingcart.html"><img src="../static/images/icons/shopping-cart.png" width="20" height="20" class="d-inline-block align-top" alt="" ></a></li>
						</ul>
					</nav>
				</div>

			<div id="main_container">

        <section class="b_inner">

            <div class="contents_box">

                <article class="contents cont01">
                    <header class="top">
                        <div class="user_container">
                            <div class="profile_img">
                                <img src="imgs/thumb.jpeg" alt="">
                            </div>
                            <div class="user_name">
                                <div class="nick_name">KindTiger</div>
                                <div class="country">Seoul, South Korea</div>
                            </div>
                        </div>
                        <div class="sprite_more_icon"></div>
                    </header>

                    <div class="img_section">
                        <div class="trans_inner">
                            <div><img src="../static/images/1#.png" alt=""></div>
                        </div>
                    </div>


                    <div class="bottom_icons">
                        <div class="left_icons">
                            <div class="heart_btn">
                                <div class="sprite_heart_icon_outline" data-name="heartbeat"></div>
                            </div>
                            <div>
                                <div class="sprite_bubble_icon"></div>
                            </div>
                            <div>
                                <div class="sprite_share_icon"></div>
                            </div>
                        </div>

                        <div class="right_icon">
                            <div class="sprite_bookmark_outline"></div>
                        </div>
                    </div>

                    <div class="count_likes">
                        좋아요
                        <span class="count">2,351</span>
                        개
                    </div>

                    <div class="commet_container">

                        <div class="commet">
                            <div class="nick_name">
                                popo213
                            </div>
                            <div>
                                우와...너무 축하해...!!!
                            </div>
                        </div>

                        <div class="small_heart">
                            <div class="sprite_small_heart_icon_outline"></div>
                        </div>

                    </div>

                    <div class="timer">1시간 전</div>

                    <div class="commit_field">
                        <input type="text" placeholder="댓글달기..">

                        <div class="upload_btn">게시</div>
                    </div>


                </article>







            </div>

        </section>
    </div>
		
			<div>
				<nav class="nav_bottom">
                    <a href="main.html" class="nav__link">
                        <i class="material-icons nav__icon"><img src="../static/images/icons/home-2.png" class="icon-home"></i> 
                        <span class="nav__text">Home</span>
                    </a>
                    <a href="subscribe.html" class="nav__link nav__link--active">
                        <i class="material-icons nav__icon"><img src="../static/images/icons/heart.png" class="icon-subscribe"></i>
                        <span class="nav__text">구독</span>
                    </a>
                    <a href="register.html" class="nav__link">
                        <i class="material-icons nav__icon"><img src="../static/images/icons/add-button.png" class="icon-add"></i>
                        <span class="nav__text">등록</span>
                    </a>
                    <a href="like.html" class="nav__link">
                        <i class="material-icons nav__icon"><img src="../static/images/icons/bookmark.png" class="icon-bookmark"></i>
                        <span class="nav__text">저장</span>
                    </a>
                    <a href="mypage.html" class="nav__link">
                        <i class="material-icons nav__icon"><img src="../static/images/icons/user.png" class="icon-user"></i>
                        <span class="nav__text">My Page</span>
                    </a>
    
                </nav>
			</div>
			

			
			</div>

		</div>
	</div>

	
<!--===============================================================================================-->
	<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/daterangepicker/moment.min.js"></script>
	<script src="../static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../static/js/main.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</body>
</html>


</html>