<!DOCTYPE html>
<html lang="ko">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/nav.css')}}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100"> 
				<div class="navbar">
					<img class="logo" src="{{url_for('static',filename='images/icons/logo1.png')}}" width="89" height="103" class="d-inline-block align-top" alt="">
				
					   <div id="input-form">
							<input type="text" id="searchbar" placeholder="검색어를 입력하세요." onkeyup="search(this);">
						</div>
					<nav>
						<ul class="nav__logos">
							<li><a href="#" id="btn_search"><img src="{{url_for('static',filename='images/icons/search.png')}}" width="20" height="20" class="d-inline-block align-top" alt=""></a></li>
							<li><a href="shoppingcart.html"><img src="{{url_for('static',filename='images/icons/shopping-cart.png')}}" width="40" height="40" class="d-inline-block align-top" alt="" ></a></li>
						</ul>
					</nav>
				</div>

					<div class="container"></div>

					<p class="about">
						<span class="nick_name">인기많은 상품</span>
						<span class="book_mark">방금 올린 상품</span>
					</p>
					
	
				<div class="content">
	
				
	
				  <div class="mylist_contents contents_container active">
					
			
					<div class="mainpage-ad">

						<div class="pic">
							<a href="#"><img src="{{url_for('static',filename='images/1.png')}}"> alt=""></a>
						</div>
						<div class="pic">
							<a href="#"><img src="{{url_for('static',filename='images/2.png')}}"> alt=""></a>
						</div>

					</div>

					<div class="mainpage-ad">
						<div class="pic">
							<a href="#"> <img src="{{url_for('static',filename='images/3.png')}}">alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="{{url_for('static',filename='images/4.png')}}"> alt=""></a>
						</div>

					</div>
						{% for bestpictures in data_new %}
							{% set bestpicture = bestpictures.img_url %}
							<div class="pic">
								<a href="#"><img src = "{{bestpicture[8:]}}" ></a>
							</div>
						
						{% endfor %}
						
						
					</div>
		
		
					<div class="bookmark_contents contents_container">
						<div class="mainpage-ad">
							<div class="pic">
								<a href="#"><img src="{{url_for('static',filename='images/6.jpg')}}" alt=""></a>
							</div>
							<div class="pic">
								<a href="#"><img src="{{url_for('static',filename='images/5.jpg')}}" alt=""></a>
							</div>
						</div>
						{% for recentpictures in data_like %}
							{% set recentpicture = recentpictures.img_url %}
						
							<div class="pic">
								<a href="#"><img src = "{{recentpicture[8:]}}" ></a>
							</div>
							
						{% endfor %}	
						
					</div>
						
					
						
				</div> <!--container-->
	
						
							

		
			<div>
				<nav class="nav_bottom">
					<a href="{{url_for('static',filename='home')}}" class="nav__link">
						<i class="material-icons nav__icon"><img src="{{url_for('static',filename='images/icons/home-2.png')}}" class="icon-home"></i> 
						<span class="nav__text">Home</span>
					</a>
					<a href="{{url_for('static',filename='subscribe')}}" class="nav__link nav__link--active">
						<i class="material-icons nav__icon"><img src="{{url_for('static',filename='images/icons/heart.png')}}" class="icon-subscribe"></i>
						<span class="nav__text">구독</span>
					</a>
					<a href="{{url_for('static',filename='register')}}" class="nav__link">
						<i class="material-icons nav__icon"><img src="{{url_for('static',filename='images/icons/add-button.png')}}" class="icon-add"></i>
						<span class="nav__text">등록</span>
					</a>
					<a href="{{url_for('static',filename='like')}}" class="nav__link">
						<i class="material-icons nav__icon"><img src="{{url_for('static',filename='images/icons/bookmark.png')}}" class="icon-bookmark"></i>
						<span class="nav__text">저장</span>
					</a>
					<a href="{{url_for('static',filename='mypage')}}" class="nav__link">
						<i class="material-icons nav__icon"><img src="{{url_for('static',filename='images/icons/user.png')}}" class="icon-user"></i>
						<span class="nav__text">My Page</span>
					</a>

			</nav>
			</div>
			

			
			</div>

		</div>
	</div>

	
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static',filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static',filename='vendor/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static',filename='vendor/bootstrap/js/popper.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static',filename='vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static',filename='vendor/daterangepicker/moment.min.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='vendor/daterangepicker/daterangepicker.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static',filename='vendor/countdowntime/countdowntime.js')}}"></script>
<!--===============================================================================================-->
	<script type="text/javascript" src="{{url_for('static',filename='js/main.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='js/mypage.js')}}"></script>

</body>
</html>