<!DOCTYPE html>
<html lang="ko">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<link rel="stylesheet" type="text/css" href="../static/css/nav.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100"> 
					<div class="navbar">
					<img class="logo" src="../static/images/icons/leaf.png" width="30" height="30" class="d-inline-block align-top" alt="">
					<div class="brandname">
						RE-FIT 리핏
					</div>
					   <div id="input-form">
							<input type="text" id="searchbar" placeholder="검색어를 입력하세요." onkeyup="search(this);">
						</div>
					<nav>
						<ul class="nav__logos">
							<li><a href="#" id="btn_search"><img src="../static/images/icons/search.png" width="20" height="20" class="d-inline-block align-top" alt=""></a></li>
							<li><a href="shoppingcart.html"><img src="../static/images/icons/shopping-cart.png" width="20" height="20" class="d-inline-block align-top" alt="" ></a></li>
						</ul>
					</nav>
				</div>

					<div class="container"></div>

					<p class="about">
						<span class="nick_name">인기많은 상품</span>
						<span class="book_mark">방금 올린 상품</span>
					</p>
					
	
				<div class="content">
	
				
	
					<div class="mylist_contents contents_container active">
					
			
						<div class="mainpage-ad">

						<div class="pic">
							<a href="#"><img src="../static/images/1.png" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"><img src="../static/images/2.png" alt=""></a>
						</div>

					</div>

						<div class="mainpage-ad">
						<div class="pic">
							<a href="#"> <img src="../static/images/3.png" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="../static/images/4.png" alt=""></a>
						</div>

						</div>
					
					
						<div class="pic">
							<a href="#"> <img src="../static/images/5.jpg" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="../static/images/6.jpg" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="imgs/img_section/img02.jpg" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="imgs/img_section/img03.jpg" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"><img src="../static/images/1.png" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"><img src="../static/images/2.png" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="../static/images/3.png" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="../static/images/4.png" alt=""></a>
						</div>
							<div class="pic">
							<a href="#"><img src="../static/images/1.png" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"><img src="../static/images/2.png" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="../static/images/3.png" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="../static/images/4.png" alt=""></a>
						</div>
					
						<div class="pic">
							<a href="#"> <img src="../static/images/5.jpg" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="../static/images/6.jpg" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="imgs/img_section/img02.jpg" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="imgs/img_section/img03.jpg" alt=""></a>
						</div>
					
						<div class="pic">
							<a href="#"> <img src="../static/images/5.jpg" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="../static/images/6.jpg" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="imgs/img_section/img02.jpg" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="imgs/img_section/img03.jpg" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="imgs/img_section/img01.jpg" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"><img src="../static/images/1.png" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"><img src="../static/images/2.png" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="../static/images/3.png" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="../static/images/4.png" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="../static/images/5.jpg" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="../static/images/6.jpg" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="imgs/img_section/img02.jpg" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="imgs/img_section/img03.jpg" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="imgs/img_section/img01.jpg" alt=""></a>
						</div>
					</div>
		
		
					<div class="bookmark_contents contents_container">
						<div class="pic">
							<a href="#"><img src="../static/images/6.jpg" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"><img src="../static/images/5.jpg" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="../static/images/4.png" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="../static/images/3.png" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="../static/images/2.png" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="../static/images/1.png" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="imgs/img_section/img01.jpg" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="imgs/img_section/img02.jpg" alt=""></a>
						</div>
						<div class="pic">
							<a href="#"> <img src="imgs/img_section/img02.jpg" alt=""></a>
						</div>
					</div>
						
					
						
				</div> <!--container-->
	
						
							

		
			<div>
				<nav class="nav_bottom">
				<a href="main.html" class="nav__link">
					<i class="material-icons nav__icon"><img src="../static/images/icons/home-2.png" class="icon-home"></i> 
					<span class="nav__text">Home</span>
				</a>
				<a href="subscribe.html" class="nav__link nav__link--active">
					<i class="material-icons nav__icon"><img src="../static/images/icons/heart.png" class="icon-subscribe"></i>
					<span class="nav__text">구독</span>
				</a>
				<a href="register.html" class="nav__link">
					<i class="material-icons nav__icon"><img src="../static/images/icons/add-button.png" class="icon-add"></i>
					<span class="nav__text">등록</span>
				</a>
				<a href="like.html" class="nav__link">
					<i class="material-icons nav__icon"><img src="../static/images/icons/bookmark.png" class="icon-bookmark"></i>
					<span class="nav__text">저장</span>
				</a>
				<a href="mypage.html" class="nav__link">
					<i class="material-icons nav__icon"><img src="../static/images/icons/user.png" class="icon-user"></i>
					<span class="nav__text">My Page</span>
				</a>

			</nav>
			</div>
			

			
			</div>

		</div>
	</div>

	
<!--===============================================================================================-->
	<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/daterangepicker/moment.min.js"></script>
	<script src="../static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../static/js/main.js"></script>
	<script src="../static/js/mypage.js"></script>

</body>
</html>