<!DOCTYPE html>

<html lang="ko">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/instagramprofilelayout.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/nav.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/hamburgernav.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">

<!--===============================================================================================-->
</head>
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100"> 
			<div class="navbar">
				<a href="{{url_for('static',filename='home')}}"> <img class="logo" src="{{url_for('static',filename='images/icons/logo4.png')}}" width="89" height="103" class="d-inline-block align-top" alt="">
					</a>
				<div class="brandname">
					MYPOCKET
				</div>
				<nav>

					

					<nav role='navigation'>
						<div id="menuToggle">
						  <!--
						  A fake / hidden checkbox is used as click reciever,
						  so you can use the :checked selector on it.
						  -->
						  <input type="checkbox" />
						  
						  <!--
						  Some spans to act as a hamburger.
						  
						  They are acting like a real hamburger,
						  not that McDonalds stuff.
						  -->
						  <span></span>
						  <span></span>
						  <span></span>
						  
						  <!--
						  Too bad the menu has to be inside of the button
						  but hey, it's pure CSS magic.
						  -->
						  <ul id="menu">
							<a href="{{url_for('static',filename='home')}}">
								<li>Home</li>
							</a>
							<a href="{{url_for('static',filename='subsscribe')}}">
								<li>구독</li>
							</a>
							<a href="{{url_for('static',filename='register')}}">
								<li>제품 등록</li>
							</a>
							<a href="{{url_for('static',filename='bookmark')}}">
								<li>찜</li>
							</a>
							<a href="{{url_for('static',filename='mypage')}}">
								<li>마이 페이지</li>
							</a>
						</ul>
						</div>
					  </nav>

					  <ul class="nav__logos">

						<li><a href="{{url_for('static',filename='cart')}}"><img
									src="{{url_for('static',filename='images/icons/shopping-cart.png')}}" width="30"
									height="30" class="d-inline-block align-top" alt=""></a></li>
					</ul>


				</nav>
			</div>
	
	<div class="content">
		<div class="container">

			<div class="profile">

				<div class="profile-image">
					{%set profile_img = user.img %}
					<img src="{{ profile_img }}" alt="">
				</div>

				<div class = "profile-user-settings">

					<div class="profile-stats">
						<ul>
							<li><span class="profile-stat-count">1055</span> 구독자 </li>
							<li><span class="profile-stat-count">50</span> 구독중 </li>
							<li><span class="profile-stat-count">130</span> 구매성사 </li>
						</ul>

					
					</div>

					<button class="btn follow-btn">팔로우 하기</button>
					<button class="btn-reviews"> 후기</button> 
				</div>
				

				


				<div class="profile-bio">

					<p><span class="profile-real-name">
						{%set user_name = user.name.split('@') %}
						<h1 class="profile-user-name">{{ user.name }}<!--({{ user_name[0] }})--> 님</h1>
							
					</span><br>My life shine like a VVS📷✈️🏕️</p>
				</div>

				<div class="progress">
					<div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
				</div>

				<!--<div class="btn-reviews">

				<button class="btn-reviews"> 장터/후기 모아보기 </button> 

				</div><!-->
	

		</div> <!--end of profilesection-->

	
		 <!--end of container-->

		 <p class="about">
			<span class="nick_name">올린거</span>
			<span class="book_mark">팔린거</span>
		</p>
				

			<div class="content">

			

				<div class="mylist_contents contents_container active">
				
				{% if post_list|length > 0 %} <!--안팔린거-->
					{% for post in post_list %}
						{% if post['sell_yn'] == 0 %}
						<div class="pic">
							<a href="/post/post_id={{post['post_idx']}}"><img src="{{post.location[8:]}}" alt=""></a>
						</div>
						{% else %}
						<div class="pic">
							<p style="text-align: center;">게시물이 없어요~</p>
							
						</div>
						{% endif %}
					{% endfor %}
					
				{% else %}
					<div class="pic">
						<p style="text-align: center;">No Data </p>
						
					</div>
				{% endif %}
				<!--
					<div class="pic">
						<a href="#"><img src="{{url_for('static',filename='images/2.png')}}" alt=""></a>
					</div>
					<div class="pic">
						<a href="#"> <img src="{{url_for('static',filename='images/3.png')}}" alt=""></a>
					</div>
					<div class="pic">
						<a href="#"> <img src="{{url_for('static',filename='images/4.png')}}" alt=""></a>
					</div>
					<div class="pic">
						<a href="#"> <img src="{{url_for('static',filename='images/5.jpg')}}" alt=""></a>
					</div>
					<div class="pic">
						<a href="#"> <img src="{{url_for('static',filename='images/6.jpg')}}" alt=""></a>
					</div>
					<div class="pic">
						<a href="#"> <img src="../static/images/6.jpg" alt=""></a>
					</div>
					<div class="pic">
						<a href="#"> <img src="../static/images/6.jpg" alt=""></a>
					</div>
					<div class="pic">
						<a href="#"> <img src="../static/images/6.jpg" alt=""></a>
					</div>
				-->
				</div>
	
	
				<div class="bookmark_contents contents_container">
					
					{% if post_list|length > 0 %} 
						{% for post in post_list %}
							{% if post['sell_yn'] == 1 %}
							<div class="pic">
								<a href="/post/post_id={{post['post_idx']}}"><img src="{{post.location[8:]}}" alt=""></a>
							</div>
							{% else %}
							<div class="pic">
								<p style="text-align: center;">게시물이 없어요~</p>
								
							</div>
							{% endif %}
						{% endfor %}
					
				
					{% else %}
						<div class="pic">
							<p style="text-align: center;">No Data</p>
						</div>
					{% endif %}
				</div>


					
				
					
			</div> <!--container-->

		</div>
	</div>

	
					


				
		
			<div>
				<nav class="nav_bottom">
					<a href="{{url_for('static',filename='home')}}" class="nav__link">
						<i class="material-icons nav__icon"><img src="{{url_for('static',filename='images/icons/home-2.png')}}" class="icon-home"></i> 
						<span class="nav__text">Home</span>
					</a>
					<a href="{{url_for('static',filename='subscribe')}}" class="nav__link nav__link--active">
						<i class="material-icons nav__icon"><img src="{{url_for('static',filename='images/icons/heart.png')}}" class="icon-subscribe"></i>
						<span class="nav__text">구독</span>
					</a>
					<a href="{{url_for('static',filename='register')}}" class="nav__link">
						<i class="material-icons nav__icon"><img src="{{url_for('static',filename='images/icons/add-button.png')}}" class="icon-add"></i>
						<span class="nav__text">등록</span>
					</a>
					<a href="{{url_for('static',filename='bookmark')}}" class="nav__link">
						<i class="material-icons nav__icon"><img src="{{url_for('static',filename='images/icons/bookmark.png')}}" class="icon-bookmark"></i>
						<span class="nav__text">저장</span>
					</a>
					<a href="{{url_for('static',filename='mypage')}}" class="nav__link">
						<i class="material-icons nav__icon"><img src="{{url_for('static',filename='images/icons/user.png')}}" class="icon-user"></i>
						<span class="nav__text">My Page</span>
					</a>
	
				</nav>
			</div>

		

			</div> <!--extra-->
		</div> <!--wrap login-->
	</div> <!--containerlogin-->
</body> <!--limiter-->

			

		





	
    <!--===============================================================================================-->
    <script src="{{url_for('static',filename='vendor/jquery/jquery-3.2.1.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static',filename='vendor/animsition/js/animsition.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static',filename='vendor/bootstrap/js/popper.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static',filename='vendor/select2/select2.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static',filename='vendor/daterangepicker/moment.min.js')}}"></script>
    <script src="{{url_for('static',filename='vendor/daterangepicker/daterangepicker.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static',filename='vendor/countdowntime/countdowntime.js')}}"></script>
    <!--===============================================================================================-->
	<script src="{{url_for('static',filename='js/mypage.js')}}"></script>

	</body>
</html>

