<!DOCTYPE html>
<html lang="ko">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/nav.css">
	<link rel="stylesheet" type="text/css" href="../static/css/shoppingcart.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"

	rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	

<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100"> 
					<div class="navbar">
					<img class="logo" src="../static/images/icons/leaf.png" width="30" height="30" class="d-inline-block align-top" alt="">
					<div class="brandname">
						RE-FIT 리핏
					</div>
					   <div id="input-form">
							<input type="text" id="searchbar" placeholder="검색어를 입력하세요." onkeyup="search(this);">
						</div>
					<nav>
						<ul class="nav__logos">
							<li><a href="#" id="btn_search"><img src="../static/images/icons/search.png" width="20" height="20" class="d-inline-block align-top" alt=""></a></li>
							<li><a href="shoppingcart.html"><img src="../static/images/icons/shopping-cart.png" width="20" height="20" class="d-inline-block align-top" alt="" ></a></li>
						</ul>
					</nav>
					</div>

					<div class="container">

					<div id="app">

						<!-- Header -->
						<header class="container">
						  <h1>장바구니</h1>
						  <span class="count"> 3 items in the bag</span>
						</header>
						<!-- End Header -->
					  
						<!-- Product List -->
						<section class="container">
						  <div v-if="products.length > 0">
							<ul class="products">
							<li class="row" v-for="(product, index) in products">
							  <div class="col left">
								<div class="thumbnail">
								  <a href="#">
									<img :src="product.image" :alt="product.name" />
								  </a>
								</div>
								<div class="detail">
								  <div class="name"><a href="#">코틀린으로 쇼핑몰 앱 만들기</a></div>
								  <div class="description">안드로이드 과제를 위한 책</div>
								  <div class="price">15000<a>원</a></div>
								</div>
								</div>
					  
							  <div class="col right">
								<div class="quantity">
								  <a href="#"><img src="../static/images/1.png" alt=""></a>
								</div>
								
								<div class="remove">
								  <svg @click="removeItem(index)" version="1.1" class="close" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812"></polygon></svg>
								</div>
							  </div>
							</li>
							
						  </ul>
						  </div>
						  
						  <div v-if="products.length > 0">
							<ul class="products">
							<li class="row" v-for="(product, index) in products">
							  <div class="col left">
								<div class="thumbnail">
								  <a href="#">
									<img :src="product.image" :alt="product.name" />
								  </a>
								</div>
								<div class="detail">
								  <div class="name"><a href="#">물 만난 물고기</a></div>
								  <div class="description">악뮤 이찬혁 책</div>
								  <div class="price">14000<a>원</a></div>
								</div>
								</div>
					  
							  <div class="col right">
								<div class="quantity">
								  <a href="#"><img src="../static/images/2.png" alt=""></a>
								</div>
								
								<div class="remove">
								  <svg @click="removeItem(index)" version="1.1" class="close" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812"></polygon></svg>
								</div>
							  </div>
							</li>
							
						  </ul>
						  </div>
						  
						  
						  <div v-if="products.length > 0">
							<ul class="products">
							<li class="row" v-for="(product, index) in products">
							  <div class="col left">
								<div class="thumbnail">
								  <a href="#">
									<img :src="product.image" :alt="product.name" />
								  </a>
								</div>
								<div class="detail">
								  <div class="name"><a href="#">컴퓨터 네트워킹</a></div>
								  <div class="description">컴넷 교재</div>
								  <div class="price">10000 <a>원</a> </div> 
								</div>
								</div>
					  
							  <div class="col right">
								<div class="quantity">
								  <a href="#"><img src="../static/images/3.png" alt=""></a>
								</div>
								
								<div class="remove">
								  <svg @click="removeItem(index)" version="1.1" class="close" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812"></polygon></svg>
								</div>
							  </div>
							</li>
							
						  </ul>
						  </div>
						   
						  <div v-else class="empty-product">
							<button>쇼핑하러 가기</button>
						  </div>
						</section>
						<!-- End Product List -->
						
						<script>
						function addPrice() {
		

						 var num1 = document.getElementsByTagName("price")[0].value; 
						 var num2 = document.getElementsByTagName("price")[1].value; 
						 var num3 = document.getElementsByTagName("price")[2].value;
						 
						 var result = parseInt(num1) + parseInt(num2) + parseInt(num3);
						 
						 document.getElementsByTagName("totalsum")[1].value= result; 
						 }
						</script>		
						
						
						
						
						<!-- Summary -->
						<section class="container" v-if="products.length > 0" >
						  <div class="promotion">
							<label for="promo-code">Have A Promo Code?</label>
							<input type="text" id="promo-code" v-model="promoCode" /> <button type="button" @click="checkPromoCode"></button>
						  </div>
					  
						  <div class="summary">
							<ul>
							  <li class = "totalsum">물품 총합 <a class = "totalsum"> </a> <span> 원</span></li>

							  <li id = "totalfee">수수료 <span></span></li>
							  <li class="total">지불해야할 가격 <span></span></li>
							</ul>
						  </div>
					  
						  <div class="checkout">
							<button type="button">계산하기</button>
						  </div>
						</section>
						<!-- End Summary -->
					 
					</div>
				</div>
		
				
	
						
							

		
			<div>
				<nav class="nav_bottom">
					<a href="main.html" class="nav__link">
						<i class="material-icons nav__icon"><img src="../static/images/icons/home-2.png" class="icon-home"></i> 
						<span class="nav__text">Home</span>
					</a>
					<a href="subscribe.html" class="nav__link nav__link--active">
						<i class="material-icons nav__icon"><img src="../static/images/icons/heart.png" class="icon-subscribe"></i>
						<span class="nav__text">구독</span>
					</a>
					<a href="register.html" class="nav__link">
						<i class="material-icons nav__icon"><img src="../static/images/icons/add-button.png" class="icon-add"></i>
						<span class="nav__text">등록</span>
					</a>
					<a href="like.html" class="nav__link">
						<i class="material-icons nav__icon"><img src="../static/images/icons/bookmark.png" class="icon-bookmark"></i>
						<span class="nav__text">저장</span>
					</a>
					<a href="mypage.html" class="nav__link">
						<i class="material-icons nav__icon"><img src="../static/images/icons/user.png" class="icon-user"></i>
						<span class="nav__text">My Page</span>
					</a>
	
				</nav>

			</nav>
			</div>
			

				
			</div>

		</div>
	</div>
<div>
	
<!--===============================================================================================-->
	<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/daterangepicker/moment.min.js"></script>
	<script src="../static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="../static/js/shoppingcart.js"></script>
<script src="../static/js/main.js"></script>
<script src="../static/js/vue.js"></script>



	

</body>
</html>